.my-work{
    display:flex;
    min-height:100vh;
    flex-direction: column;
    background-color:#13111B;
    justify-content: center;
    align-items: center;
}
.my-work-95{
    width:95%;
    margin-left:auto;
    min-height:100vh;
}
.tab-navigation{
    display:flex;
    margin:auto;
    justify-content: center;
    gap:70px;
}
.tab-navigation button{
    border:none;
    outline:none;
    font-family: "Poppins", sans-serif;
    font-size:15px;
}
.tab-content {
    padding: 20px;
   width:95%;
   display:flex;
   justify-content: center;
   grid-template-columns: repeat(4, 1fr); /* 4 columns */
  }
  .work-designs{
    width:300px;
    border: 4px solid white;
    display:flex;
    height:55%;
    margin:5px auto;

  }
  .work-designs img{
    width:30%;
    margin:auto;
  }
.work-designs img:hover{
    transform:scale(1.1);
}
  .first-wrap-work{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width:80%;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */

  }
  /* For screens smaller than 768px (phones) */
@media screen and (max-width: 768px) {
    .tab-navigation {
      flex-direction: column;
      align-items: center;
      gap: 10px; /* Reduce the gap between buttons */
    }
  
    .tab-navigation button {
      padding: 8px 16px; /* Adjust padding for smaller buttons */
    }
  
    .tab-content {
        grid-template-columns: repeat(1, 1fr); /* Adjust to 1 column for smaller screens */
      }
  
    .work-designs {
      width: 100%; /* Adjust width of work designs */
      margin-bottom: 20px; /* Add space between work designs */
    }
  
    .work-designs img {
      width: 100%; /* Make images responsive */
    }
  }
  